<div class="good-div">
	<h3>Favorite things</h3>
	<ol>
		<li>{{color}}</li>
		<li>{{food}}</li>
		<li>Hugs</li>
		<li>Recycling</li>
	</ol>

	<h3>Unacceptable things</h3>
	<ol>
		<li>Impoliteness</li>
		<li>Pollution</li>
		<li>Short dates</li>
		<li>Flat waves</li>
	</ol>
</div>