.pdiv {
	background-color: white;
	width: 300px;
	border-radius: 15px;
	padding: 20px;
	margin: 20px;
}

.evil-div {
	background-color: black;
	color: white;
}

#inline {
	display: inline;
	margin-left: 50px;
	font-size: 16px;
}

#inline span {
	font-size: 24px;
}